[Unit]
Description=Check for Wi-Fi settings change on boot
After=multi-user.target

[Service]
Type=oneshot
ExecStart=/usr/bin/python3 /opt/usbode/network-updater.py

[Install]
WantedBy=multi-user.target