[Unit]
Description=USBODE
After=multi-user.target
Conflicts=getty@tty1.service

[Service]
Type=simple
ExecStart=/usr/bin/python3 /opt/usbode/usbode.py
StandardInput=tty-force
Restart=on-failure
StandardOutput=journal+console
StandardError=journal+console
ExecStop=/usr/bin/curl /usr/bin/curl http://127.0.0.1/exit

[Install]
WantedBy=multi-user.target