[Unit]
Description=USBODE
DefaultDependencies=yes
After=network-pre.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 /opt/usbode/usbode.py
Restart=on-failure
StandardOutput=journal+console
StandardError=journal+console
ExecStop=/usr/bin/curl /usr/bin/curl http://127.0.0.1/exit

[Install]
WantedBy=local-fs.target
